*.trt
*.onnx
*.engine
*.log
*.pyc
*.mp4

.vscode/*
*/__pycache__/*
*/*/__pycache__/*
*/*/__pycache__
__pycache__/*
*/*/.idea/*

*/build/*
*/log/*
*/install/*
*/bin/*
*/*/build/*
*/*/log/*
*/*/install/*
*/*/bin/*
data/*
logs/*
local_vis/*
workspace/* 

lightning_logs/*
experiments/*
*.jpg
*.pkl
abel/
config_for_single*
.check/
.hb_compile/
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

calib_data
workdir
*hbm
*png
*npy
